/* Cambios globales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* fin cambios globales */


/* Codigo de la Nabvar */
.navbar {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Agregado para centrar horizontalmente */
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.logo img {
  width: 200px;
  margin-right: 1rem;
  /* Cambiado para crear un espacio entre la imagen y el texto */
}


.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  margin-left: 1rem;
}

.nav-menu li a {
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.nav-menu li a:hover {
  background-color: #eee;
  border-radius: 5px;
  color: #007bff;
}


/* Fin codigo de la Nabvar */

/* codigo Carousel */
.carousel-inner img {
  width: 600px;
  height: 600px;
}

#carouselExampleDark {
  background-color: #333;
  border-radius: 20px;
  margin: 20px auto;
  width: 70%;
}

.carousel-indicators button {
  background-color: #555;
  border-color: #555;
}

.carousel-indicators .active {
  background-color: #fff;
  border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Fin codigo Carousel */

#fb-icon {
  margin-left: 20px;
  font-size: 50px;
}

#ig-icon {
  margin-left: 20px;
  font-size: 60px;
  color: rgb(255, 0, 234);
}

#tw-icon {
  margin-left: 20px;
  font-size: 45px;
  color: white;
  background-color: #007bff;
  border-radius: 50px;
}

/* Codigo footer (pie de pagina) */


footer {
  background-color: #f7f7f7;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-container p {
  margin: 0;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2);
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #000;
}


/* Fin codigo footer (pie de pagina) */

  #btn1 {
    background-color: rgb(172, 238, 213);
    color: #000;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    float: right;
    margin-right: 50px;
  }
  
  #btn1:hover {
    background-color: #0069d9;
    color: #fff;
    text-decoration: none;
    border-color: rgb(172, 238, 213);
  }
  
  .text-center {
    text-align: center;
    margin: 20px;
  }
  
  .text-center p {
    margin: 20px;
    font-size: 20px;
  }
  
  .text-center a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .text-center a:hover {
    background-color: #0052a5;
  }
  
  
  